.cbl-project{
    margin-top:auto;
    background-color: white;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    position: sticky;
    /*flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    */
}

.main-heading{
    display: flexbox;
    align-items: center;
    justify-content: center;
    margin:225px;
    padding:225px;

}

.ip-logo{
    display: flexbox;
    height:80px;
    width:80px;
    justify-content: center;
}
.lab-logo{
    display: flexbox;
    height:80px;
    width:80px;
    justify-content: center;
   
}